
<h3>Qi4j SDK 1.2</h3>

<p>Signed by Niclas Hedhman, PGP ID: 33D70FC3</p>

<table class="table table-striped">
    <tr>
        <td><a href="https://repository-qi4j.forge.cloudbees.com/release/org/org.qi4j/1.2/qi4j-sdk-1.2-bin.zip">qi4j-sdk-1.2-bin.zip</a></ptd>
        <td><a href="https://repository-qi4j.forge.cloudbees.com/release/org/org.qi4j/1.2/qi4j-sdk-1.2-bin.zip.md5">(md5)</a></td>
        <td><a href="https://repository-qi4j.forge.cloudbees.com/release/org/org.qi4j/1.2/qi4j-sdk-1.2-bin.zip.sha1">(sha1)</a></td>
        <td><a href="https://repository-qi4j.forge.cloudbees.com/release/org/org.qi4j/1.2/qi4j-sdk-1.2-bin.zip.asc">(asc)</a></td>
    </tr>
    <tr>
        <td><a href="https://repository-qi4j.forge.cloudbees.com/release/org/org.qi4j/1.2/qi4j-sdk-1.2-bin.tgz">qi4j-sdk-1.2-bin.tgz</a></td>
        <td><a href="https://repository-qi4j.forge.cloudbees.com/release/org/org.qi4j/1.2/qi4j-sdk-1.2-bin.tgz.md5">(md5)</a></td>
        <td><a href="https://repository-qi4j.forge.cloudbees.com/release/org/org.qi4j/1.2/qi4j-sdk-1.2-bin.tgz.sha1">(sha1)</a></td>
        <td><a href="https://repository-qi4j.forge.cloudbees.com/release/org/org.qi4j/1.2/qi4j-sdk-1.2-bin.tgz.asc">(asc)</a></td>
    </tr>
    <tr>
        <td><a href="https://repository-qi4j.forge.cloudbees.com/release/org/org.qi4j/1.2/qi4j-sdk-1.2-src.zip">qi4j-sdk-1.2-src.zip</a></td>
        <td><a href="https://repository-qi4j.forge.cloudbees.com/release/org/org.qi4j/1.2/qi4j-sdk-1.2-src.zip.md5">(md5)</a></td>
        <td><a href="https://repository-qi4j.forge.cloudbees.com/release/org/org.qi4j/1.2/qi4j-sdk-1.2-src.zip.sha1">(sha1)</a></td>
        <td><a href="https://repository-qi4j.forge.cloudbees.com/release/org/org.qi4j/1.2/qi4j-sdk-1.2-src.zip.asc">(asc)</a></td>
    </tr>
    <tr>
        <td><a href="https://repository-qi4j.forge.cloudbees.com/release/org/org.qi4j/1.2/qi4j-sdk-1.2-src.tgz">qi4j-sdk-1.2-src.tgz</a></td>
        <td><a href="https://repository-qi4j.forge.cloudbees.com/release/org/org.qi4j/1.2/qi4j-sdk-1.2-src.tgz.md5">(md5)</a></td>
        <td><a href="https://repository-qi4j.forge.cloudbees.com/release/org/org.qi4j/1.2/qi4j-sdk-1.2-src.tgz.sha1">(sha1)</a></td>
        <td><a href="https://repository-qi4j.forge.cloudbees.com/release/org/org.qi4j/1.2/qi4j-sdk-1.2-src.tgz.asc">(asc)</a></td>
    </tr>
</table>

