<h3>Qi4j SDK 2.0</h3>

<p>Signed by Paul Merlin, PGP ID: CF734618</p>

<table class="table table-striped">
    <tr>
        <td><a href="https://repository-qi4j.forge.cloudbees.com/release/org/org.qi4j/2.0/org.qi4j-2.0-bin.zip">org.qi4j-2.0-bin.zip</a></td>
        <td><a href="https://repository-qi4j.forge.cloudbees.com/release/org/org.qi4j/2.0/org.qi4j-2.0-bin.zip.md5">(md5)</a></td>
        <td><a href="https://repository-qi4j.forge.cloudbees.com/release/org/org.qi4j/2.0/org.qi4j-2.0-bin.zip.sha1">(sha1)</a></td>
        <td><a href="https://repository-qi4j.forge.cloudbees.com/release/org/org.qi4j/2.0/org.qi4j-2.0-bin.zip.asc">(asc)</a></td>
    </tr>
    <tr>
        <td><a href="https://repository-qi4j.forge.cloudbees.com/release/org/org.qi4j/2.0/org.qi4j-2.0-bin.tgz">org.qi4j-2.0-bin.tgz</a></td>
        <td><a href="https://repository-qi4j.forge.cloudbees.com/release/org/org.qi4j/2.0/org.qi4j-2.0-bin.tgz.md5">(md5)</a></td>
        <td><a href="https://repository-qi4j.forge.cloudbees.com/release/org/org.qi4j/2.0/org.qi4j-2.0-bin.tgz.sha1">(sha1)</a></td>
        <td><a href="https://repository-qi4j.forge.cloudbees.com/release/org/org.qi4j/2.0/org.qi4j-2.0-bin.tgz.asc">(asc)</a></td>
    </tr>
    <tr>
        <td><a href="https://repository-qi4j.forge.cloudbees.com/release/org/org.qi4j/2.0/org.qi4j-2.0-src.zip">org.qi4j-2.0-src.zip</a></td>
        <td><a href="https://repository-qi4j.forge.cloudbees.com/release/org/org.qi4j/2.0/org.qi4j-2.0-src.zip.md5">(md5)</a></td>
        <td><a href="https://repository-qi4j.forge.cloudbees.com/release/org/org.qi4j/2.0/org.qi4j-2.0-src.zip.sha1">(sha1)</a></td>
        <td><a href="https://repository-qi4j.forge.cloudbees.com/release/org/org.qi4j/2.0/org.qi4j-2.0-src.zip.asc">(asc)</a></td>
    </tr>
    <tr>
        <td><a href="https://repository-qi4j.forge.cloudbees.com/release/org/org.qi4j/2.0/org.qi4j-2.0-src.tgz">org.qi4j-2.0-src.tgz</a></td>
        <td><a href="https://repository-qi4j.forge.cloudbees.com/release/org/org.qi4j/2.0/org.qi4j-2.0-src.tgz.md5">(md5)</a></td>
        <td><a href="https://repository-qi4j.forge.cloudbees.com/release/org/org.qi4j/2.0/org.qi4j-2.0-src.tgz.sha1">(sha1)</a></td>
        <td><a href="https://repository-qi4j.forge.cloudbees.com/release/org/org.qi4j/2.0/org.qi4j-2.0-src.tgz.asc">(asc)</a></td>
    </tr>
</table>

