<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le styles -->
        <link href="/landing-resources/css/bootstrap.css" rel="stylesheet">
        <link href="/landing-resources/css/font-awesome.css" rel="stylesheet">
        <style type="text/css">
            body {
                padding-top: 70px;
                padding-bottom: 40px;
            }
        </style>
        <link href="/landing-resources/css/bootstrap-responsive.min.css" rel="stylesheet">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Fav and touch icons -->
        <link rel="shortcut icon" type="image/png" href="/landing-resources/ico/favicon.png">

        <!-- Analytics -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-3118496-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>

    </head>

    <body>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/"><img src="/graphics/Qi4j-Logo-32x32.png" width="14"/> Qi4j</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><a href="/news.html"><i class="icon-rss"></i> News</a></li>
                            <li><a href="/downloads.html"><i class="icon-download"></i> Downloads</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#" href="#">
                                    <i class="icon-book"></i> Documentation <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="menuitem"><a href="/latest/index.html"><i class="icon-caret-right"></i> Latest release</a></li>
                                    <li role="menuitem"><a href="/2.0-RC2/index.html"><i class="icon-caret-right"></i> 2.0-RC2</a></li>
                                    <li role="menuitem"><a href="/2.0-RC1/index.html"><i class="icon-caret-right"></i> 2.0-RC1</a></li>
                                    <li role="menuitem"><a href="/1.4/index.html"><i class="icon-caret-right"></i> &lt;=1.4.x</a></li>
                                    <li class="divider"></li>
                                    <li role="menuitem"><a href="/develop/index.html"><i class="icon-caret-right"></i> Develop branch</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#" href="/community">
                                    <i class="icon-group"></i> Community <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="menuitem"><a href="/community/get_help.html"><i class="icon-caret-right"></i> Get Help</a></li>
                                    <li class="divider"></li>
                                    <li role="menuitem"><a href="/community/participate.html"><i class="icon-caret-right"></i> Participate</a></li>
                                    <li role="menuitem"><a href="/community/playing_field.html"><i class="icon-caret-right"></i> Playing Field</a></li>
                                    <li class="divider"></li>
                                    <li role="menuitem"><a href="/community/codebase.html"><i class="icon-caret-right"></i> Codebase</a></li>
                                    <li role="menuitem"><a href="/community/ci.html"><i class="icon-caret-right"></i> Continuous Integration</a></li>
                                    <li role="menuitem"><a href="/community/roadmap.html"><i class="icon-caret-right"></i> Roadmap</a></li>
                                    <li class="divider"></li>
                                    <li role="menuitem"><a href="/community/contributors.html"><i class="icon-caret-right"></i> People behind Qi4j</a></li>
                                    <li class="divider"></li>
                                    <li role="menuitem"><a href="/community/licensing.html"><i class="icon-caret-right"></i> Licensing</a></li>
                                    <li role="menuitem"><a href="/community/licensing_faq.html"><i class="icon-caret-right"></i> Licensing FAQ</a></li>

                                </ul>
                            </li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div id="content" class="container-fluid">

{{ content }}

        </div>
        <div class="container-fluid">
            <hr>
            <footer>
                <p>&copy; The Qi4j Community 2012</p>
            </footer>
        </div>

        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/landing-resources/js/jquery-1.8.3.min.js"></script>
        <script src="/landing-resources/js/bootstrap.min.js"></script>
        <script src="/landing-resources/js/qi4j.org.js"></script>
    </body>
</html>

